DEFAULT single
TIMEOUT 50
PROMPT 1

LABEL single
    MENU LABEL Single Process OS
    LINUX /boot/bzImage
    INITRD /boot/single.gz
    APPEND console=tty0

LABEL multi
    MENU LABEL Multi Process OS
    LINUX /boot/bzImage
    INITRD /boot/multi.gz
    APPEND console=tty0
